.flex_container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;

  border: 1px solid cornflowerblue;
  padding: 1rem;
}

.flex_container button {
  font-size: large;
  padding: 1rem;
}
