.flex_container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.flex_child {
  border: 1px solid cornflowerblue;
  padding: 0 1rem;
  padding-bottom: 0.5rem;
}

.route {
  font-weight: bold;
  font-size: small;
}

.route span {
  font-weight: normal;
  font-size: x-small;
}

.route_container {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.route_container div {
  margin-right: 0.5rem;
}

.route_container_button {
  border-radius: 1rem;
  padding: 0.5rem;
  background-color: aliceblue;
  cursor: pointer;
}

.route_container_button:hover {
  background-color: cornflowerblue;
}

.adjust {
  padding: 0 3rem;
}
