.flex_container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.flex_child {
  width: 47.5vw;
  height: 80vh;
  background-color: cornsilk;
  border: 0.5rem solid #eee;
  padding: 0 1rem;
}
